#gameContainer {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(40, 10px);
    grid-template-rows: repeat(40, 10px);
    border: 2px solid black;
    position: relative;
}
.pixel {
    width: 10px;
    height: 10px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}
.food {
    background-color: red;
}
.snakeBodyPixel {
    background-color: green;
}
.scoreBoard {
    margin-top: 10px;
    font-size: 20px;
}